apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: metrics
spec:
  replicas: 1
  template:
    metadata:
      labels:
        {{ promops_deploy.name }}-app: metrics
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      containers:
      - name: metrics
        image: docker.io/nfvpe/metrics_consumer:1.0.0
        volumeMounts:
        - name: metrics-config
          mountPath: /config
        resources:
          requests:
            memory: 100Mi
            cpu: 100m
          limits:
            memory: 200Mi
            cpu: 200m
        args: ["-config=/config/sa.metrics.config.json"]
        ports:
        - name: metrics
          containerPort: 8081
      volumes:
      - name: metrics-config
        configMap:
          name: metrics-config

