apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metrics
  labels:
    {{ promops_deploy.name }}-app: metrics
spec:
  selector:
    matchLabels:
      {{ promops_deploy.name }}-app: metrics
  namespaceSelector:
    matchNames:
    - {{ promops_deploy.name }}
  endpoints:
  - port: metrics
    interval: 4s
