apiVersion: v1
kind: Service
metadata:
  labels:
    prometheus: {{ promops_deploy.name }}
  name: prometheus-{{ promops_deploy.name }}
spec:
  type: NodePort
  ports:
  - name: web
    nodePort: {{ promops_deploy.prometheus.nodeport }}
    port: 9090
    protocol: TCP
    targetPort: web
  selector:
    prometheus: {{ promops_deploy.name }}
